.banner.commande-banner {
  background-image: url(../images/cathedrale.jpg);
}

.banner.commande-banner .img-globe {
  position: absolute;
  bottom: 30px;
  left: 100px;
  width: 250px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .firts-content {
  width: 50%;
}

.content .second-content {
  width: 50%;
}

.form-steps-content {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.form-steps-content .form-steps {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

.form-steps-content .form-steps li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  width: 33.33%;
  float: left;
  position: relative;
}

.form-steps-content .form-steps li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 15px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

.form-steps-content .form-steps li:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #000;
  position: absolute;
  left: -50%;
  top: 16px;
  z-index: -1;
}

.form-steps-content .form-steps li:first-child:after {
  content: none;
}

.form-steps-content .form-steps li.active {
  color: #3bb5d3;
}

.form-steps-content .form-steps li.active:before,
.form-steps-content .form-steps li.active:after {
  background: #3bb5d3;
}

.form-command {
  padding: 0 50px;
}

.content-buttons {
  text-align: right;
  margin-top: 50px;
}

.content-buttons button {
  border: none;
  border-radius: 2px;
  letter-spacing: .5px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background: #454560;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.content-buttons button[type=submit] {
  background: #0d47a1;
}

.content-buttons button[type=reset] {
  background: #b71c1c;
}

.content-buttons button:hover {
  opacity: .7;
}

#commande h2,
#personnelles h2,
#paiement h2 {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 35px;
}


.recapitulatif-item {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.recapitulatif-item span {
  display: block;
  text-align: right;
  color: #454560;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.total-amount {
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#paiement {
  margin-top: 100px;
}