/* Les propriétés css s'appliquent aux tags "a" du tag "li" */
li a {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
    color: #617D89;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
/* Permet de changer la couleur des items lors de leur survol */
li a:hover {
    background-color: #C8F0FF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.nav_menu {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2FBFF;
}
.logos {
    margin: 0;
    padding: 0;
    float: left;
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #F2FBFF;
    color: #617D89;
}

table {
    border-collapse: collapse;
    width:70%;
    margin:0 auto;
    margin-bottom: 20px;
}

td,th {
    border : 1px solid black;
    padding : 10px;
}

.myheader{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin-top: 80px;
}

.cercle1{
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0,0,0, 1);
    border-radius: 50%;
    background-image: url("../images/louvre.jpg");
    object-fit: center;
}

.cercle2{
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0,0,0, 1);
    border-radius: 50%;
    background-image: url("../images/expo.jpg");
    background-position: center;
    object-fit: contain;
}

.cercle3{
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0,0,0, 1);
    border-radius: 50%;
    background-image: url("../images/cinema.jpg");
    background-position: center;
    object-fit: contain;
}

.cercle4{
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0,0,0, 1);
    border-radius: 50%;
    background-image: url("../images/Disney.jfif");
    background-position: center;
    object-fit: contain;
}

.bloc{
    margin-bottom: 50px;
    text-align: center;
}